ul,
ol {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
    list-style-type: none;
}

a {
    color: inherit;
    text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin-top: 0;
    margin-bottom: 0;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

body {
    font-family: 'Roboto', sans-serif;
    color: #434455;
    background-color: #FFFFFF;
}

.container {
    /* max-width: 1158px;
    padding-left: 15px;
    padding-right: 15px; */
    margin-left: auto;
    margin-right: auto;
    max-width: 320px;
    padding-left: 16px;
    padding-right: 16px;
    /* padding: 0 15px; */
}

/* ===============HEADER STYLES==============  */
.header {
    border-bottom: 1px solid #e7e9fc;
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.page-logo {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    padding: 17px 0;
}

.text-color-white{
    color: #2e2f42
}

.header-container {
    display: flex;
    justify-content: space-between;
}

.container-nav {
    display: flex;
    align-items: center;
}

.header-menu-list {
    display: none;
}

.open-menu-btn{
    padding: 0;
    background-color: transparent;
    cursor: pointer;
    line-height: 0;
    border: none;
}

.address {
    background-color: #FFFFFF;
    font-style: normal;
    margin-left: auto;
    display: none;
}

/* ===========MOB MENU=========== */
.mob-menu {
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 0;
    padding: 24px 24px 40px 16px;
    width: 100%;
    height: 100%;
    background-color: #ffffff;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
    overflow: auto;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}

.mob-menu-container {
    position: relative;
}


.menu-close-btn {
    display: block;
    margin-left: auto;
    width: 24px;
    height: 24px;
    background-color: #e7e9fc;
    border-radius: 50%;
    background-color: #e7e9fc;
    border: 1px solid rgba(0, 0, 0, 0.1);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
    margin-bottom: 24px;
}



.mob-menu-link {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11111;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

.mob-menu-link.link-stady {
    color: #404bbf;
}

.mob-address {
    margin-top: auto;
    font-style: normal;
}

.mob-address-list {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    gap: 24px;
    margin-bottom: 48px;
}

.link-mob {
    color: #404bbf;
}

.mob-address-nav {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #434455;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mob-container-item {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    gap: 40px;
}

.mob-container-item:last-child {
    margin-bottom: 50px;
}

.link-mob {
    color: #404bbf;
}

.mobile-social-container {
    width: 100%;
}

.social-item-mob {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: row;
    gap: 40px;

}

.mob-social-list {
    width: 40px;
    height: 40px;
}

.mob-social-icons {
    fill: #f4f4fd;
}

.link-social-mob {
    width: 100%;
    height: 100%;
    background-color: #4d5ae5;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}

/* =============HERO STYLES============ */

.hero {
    background-color: #2e2f42;
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
        url(../images/hero-mob-1x.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-color: 250ms cubic-bezier(0.4, 0, 0.2, 1);
    margin: auto;
    max-width: 320px;
    padding: 72px 0;
    /* max-width: 1440px;
padding: 188px 0;} */
}

@media screen and(-webkit-min-device-pixel-ratio: 2),
(min-resolution: 2dppx),
(min-resolution: 192dpi) {
    .hero {
        background-color: #2e2f42;
        background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
            url(../images/hero-mob-2x.jpg);
    }
}

.hero-title {
font-size: 36px;
line-height: 1.11;
letter-spacing: 0.02em;
text-align: center;
color: #fff;
max-width: 216px;
margin: 0 auto;
margin-bottom: 72px;
}

.visually-hidden {
    position: absolute !important;
    height: 1px;
    width: 1px;
    overflow: hidden;
    clip: rect(1px 1px 1px 1px);
    /* IE 6/7 */
    clip: rect(1px, 1px, 1px, 1px);
    white-space: nowrap;
}

.hero-btn-main {
    display: block;
    min-width: 169px;
    height: 56px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-weight: 500;
    font-family: inherit;
    background-color: #4d5ae5;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #FFFFFF;
    margin: auto;
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    border: none;
}

button:hover,
button:focus {
    background-color: #404BBF;
}

/* ==============CARACTERISTIC STYLES=========== */

.caracteristic {
    /* padding: 120px 0; */
        padding: 96px 0;
}

/* .caracteristic-item{
    width: calc((100% - 3 * 24px)  / 4);

} */

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.caracteristic-list {
    /* display: flex;
    gap: 24px; */
    display: flex;
    flex-wrap: wrap;
    gap: 72px;
}

.caracretistic-icon {
    /* display: flex; */
    display: none;
    align-items: center;
    justify-content: center;
    height: 112px;
    background-color: #f4f4fd;
    border-radius: 4px;
    margin-bottom: 8px;
    border: 1px solid #8e8f99;
}

.caracteristic-subtitle {
    /* font-weight: 500;
font-size: 20px;
line-height: 1.2; */
    letter-spacing: 0.02em;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11111;
    color: #2e2f42;
    margin-bottom: 8px;
    text-align: center;
}

.caracteristic-text {
    line-height: 1.5;
    letter-spacing: 0.02em;
    font-weight: 500;
}

/* ==============OUR TEAM-============== */

.team {
    background-color: #f4f4fd;
    padding: 96px 0;
    /* padding: 120px 0; */
}

.team-title {
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    margin-bottom: 72px;
}

.team-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 72px;
    align-items: center;
    color: #2e2f42;
}

.team-container {
    padding: 32px 0;

}

.team-subtitle-container {
    text-align: center;
    margin-bottom: 8px;
}

.team-text-container {
    text-align: center;
}

.team-item {
    background-color: #FFFFFF;
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
    width: 264px;
}

.team-item-container {
    /* width: calc((100% - 72px) / 4);  */
    border-radius: 0px 0px 4px 4px;
}

.team-subtitle {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    /* color: #2e2f42; */
}

.team-text {
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.team-list-list {
    display: flex;
    justify-content: center;
    gap: 24px;
}

.team-item-item {
    width: 40px;
    height: 40px;
}

.team-link {
    width: 100%;
    height: 100%;
    background-color: #4d5ae5;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team-link:hover,
.team-link:focus {
    background-color: #404bbf;
    ;
}

.team-icons {
    fill: #f4f4fd;
}

.team-list-list {
    gap:24px
}

/*--===========PORTFOLIO==============-*/

.portfolio {
    /* padding-top: 120px;
    padding-bottom: 120px; */
    padding: 96px 0;
}

.title-portfolio {
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2e2f42;
}

.portfolio-item {
    width: 100%;
    /* width: calc((100% - 48px) / 3); */
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-item:hover {
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.title-portfolio-container {
    margin-bottom: 72px;
}

.portfolio-list {
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 48px;
}

.portfolio-item:hover .portfolio-paragraf-div {
    transform: translateY(0%);
}

.portfolio-item-div {
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;
}

.img-container {
    position: relative;
    overflow: hidden;
}

.portfolio-paragraf-div {
    position: absolute;
        top: 0;
        background-color: #4d5ae5;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #f4f4fd;
        padding: 40px 32px;
        height: 100%;
        transform: translateY(100%);
        transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-div {
    position: relative;
    overflow: hidden;
}

.portfolio-subtitle {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px;

}

.portfolio-text {
    line-height: 1.5;
    letter-spacing: 0.02em;
}

/*============= FOOTER ================== */

.footer {
    background-color: #2e2f42;
    padding: 96px 0;

}

.container-footer {
    display: flex;
    flex-direction: column;
    align-items: baseline;
}

.div-container-footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 72px;
}

.link-footer {
    font-family: var(--second-family);
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 16px;
}

.footer-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
    max-width: 264px;
    display: flex;
    flex-direction: column;
}

.box-footer-link {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    margin-bottom: 72px;
}

.social-media {


    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #FFFFFF;

    margin-bottom: 16px;

}

.footer-link {

    width: 100%;
    height: 100%;
    background-color: #4d5ae5;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-link:hover,
.footer-link:focus {
    background-color: #31d0aa;
}

.footer-icons {
    width: 40px;
    height: 40px;
}

.footer-image-icons {
fill: #f4f4fd;
}

.footer-list {
    gap: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-form-container {
    margin: 0;
    align-items: start;
}

.paragraf-form {
    margin-bottom: 16px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #ffffff;
    text-align: center;
    
}

.footer-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;

}

.footer-input {
    width: 288px;
    height: 40px;
    border: 1px solid #FFFFFF;
    background-color: transparent;
    font-size: 12px;
    line-height: 2;
    letter-spacing: 0.04em;
    padding-left: 16px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    color: #FFFFFF;
}

::placeholder {
font-family: var(--font-family);
    font-weight: 400;
    font-size: 12px;
    line-height: 117%;
    letter-spacing: 0.04em;
    color: #8e8f99;
}

.btn-footer-form {
    width: 165px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;
    cursor: pointer;
    background-color: #4d5ae5;
    border: none;
    border-radius: 4px;
    padding: 8px 24px;
}

.icon-send {
    margin-left: 16px;
    align-items: center;
    justify-content: center;
    fill: #f4f4fd;

}

/* ===============MODAL========= */

.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(46, 47, 66, 0.4);
    padding-top: 72px;
    padding-right: 24px;
    padding-bottom: 24px;
    padding-left: 24px;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}

 .is-open{opacity: 1;
visibility: visible;
pointer-events: auto;} 

.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 288px;
    min-height: 584px;
    background-color: #fcfcfc;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    padding-top: 72px;
    padding-right: 24px;
    padding-bottom: 24px;
    padding-left: 24px;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-btn {
    position: absolute;
        top: 24px;
        right: 24px;
        padding: 0;
        cursor: pointer;
        width: 24px;
        height: 24px;
        background-color: #e7e9fc;
        border: 1px solid rgba(0, 0, 0, 0.1);
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 24px;
        border-radius: 50%;
        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
            border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-btn:hover,
.modal-close-btn:focus {
    background-color: #404bbf;
    border: none;
}

.modal-close-btn:hover .x-for-btn-close,
.modal-close-btn:focus .x-for-btn-close {
    fill: #FFFFFF;
}

.x-for-btn-close {
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.text-modal {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    text-align: center;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 16px;

}

.modal-field {
    margin-bottom: 8px;

}

.modal-label-label {
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    display: block;
    margin-bottom: 4px;
    color: #8e8f99;
}

.div-div {
    position: relative;
}

.modal-input {
    width: 100%;
    height: 40px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    background-color: transparent;
    padding-left: 38px;
    outline: transparent;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input:focus {
    border-color: #4d5ae5;
}

.modal-input:focus+svg {
    fill: #4d5ae5;

}

.modal-icon {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    left: 16px;
}

.div-container-comment {
    margin-bottom: 16px;
}

.modal-input-comment {
    width: 100%;
    height: 120px;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    border-radius: 4px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    color: rgba(46, 47, 66, 0.4);
    background-color: transparent;
    padding: 8px 16px;
    outline: transparent;
    resize: none;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

}
.modal-input-comment:focus {
    border-color: #4d5ae5;
}

.modal-field-check {
    margin-bottom: 24px;
}

.modal-input-comment:focus+.modal-icon {
    fill: #4d5ae5;
}

.modal-text-check {
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #8e8f99;

}

.checkbox-span {
    display: inline-flex;
    width: 16px;
    height: 16px;
    border-radius: 2px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    margin-right: 8px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    fill: transparent;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-check:checked+.modal-text-check>.checkbox-span {
    background-color: #404bbf;
    border: none;
    fill: #f4f4fd;

}

.link-pp {
    color: #4d5ae5;
}

.btn-send {
    display: block;
    min-width: 169px;
    height: 56px;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #FFFFFF;
    cursor: pointer;
    background-color: #4d5ae5;
    border: none;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    margin: 0 auto;
    border-radius: 4px;
}


@media screen and (min-width:320px) {
}

@media screen and (min-width:768px) {
    .container {
        max-width: 768px;
    }
        .container {
            max-width: 768px;
        }

        .mob-menu {
                display: none;
        }
            
        .container-item {
            display: flex;
            gap: 40px;
        }
        .page-logo {
            margin-right: 120px;
        }

        .open-menu-btn {
            display: none;
        }

        .address {
            display: block;
            }

        .text-color-white {
            color: #2e2f42;
            }

            .header-container {
                align-items: center;
            }
        .header-address-link {
            font-size: 12px;
            line-height: 1.17;
            letter-spacing: 0.04em;
            padding: 0;
        }

.header-address-link:hover,
.header-address-link:focus {
    color: #404bbf;
}

        .link-stady {
            position: relative;
            color: #404bbf;
            transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
            }

        .link-stady::after {
            content: '';
            width: 100%;
            position: absolute;
            left: 0;
            bottom: -1px;
            height: 4px;
            background-color: #404bbf;
            border-radius: 2px;
            }

        .menu-list:hover,
        .menu-list:focus {
            color: #404bbf;
        }

        .header-menu-list {
            display: flex;
            gap: 40px;
            }

.header-menu-address {
    display: flex;
    flex-direction: column;
    gap: 12px;
}
    .header-menu-link {
        display: block;
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #2e2f42;
        padding-top: 24px;
        padding-bottom: 24px;
        position: relative;
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-menu-link.active {
    color: #404bbf;
  }

  .header-menu-link.active::after {
    content: '';
    position: absolute;
    bottom: -1px;
    left: 0;
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: #404bbf;
  }
  .header-menu-link:hover,
.header-menu-link:focus {
  color: #404bbf;
}


.team-container {
    height: 168px;
}
.team-link {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  border-radius: 50%; 
  fill: #f0f0f0; 
  text-decoration: none;
  color: #333; 
  transition: background-color 0.3s ease, color 0.3s ease, transform 0.3s ease;
}
.team-icons {
  color: #ffffff;
}



        .hero {
            padding-top: 112px;
            padding-bottom: 112px;
            background-color: #2e2f42;
            background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
            url(../images/hero-tab-1x.jpg);
            max-width: 768px;
        }

        @media screen and(-webkit-min-device-pixel-ratio: 2),
        (min-resolution: 2dppx),
        (min-resolution: 192dpi) {
            .hero {
                background-color: #2e2f42;
                background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
                    url(../images/hero-tab-2x.jpg);
                    }
                }

        .hero-title {
             margin-bottom: 36px;
             max-width: 496px;
             font-size: 56px;
             line-height: 1.07;
         }
        .caracteristic-list {
            gap: 72px 24px;
        }
        .caracteristic-item {
            width: calc((100% - 24px) / 2);
        }
        .caracteristic-subtitle {
            text-align: left;
        }

        .caracteristic-text {
            font-weight: 500;
        }
    
        .team-item-container {
            width: calc((100% - 24px) / 2);
        }
        .team-title {
            text-align: center;
        }
    

        .container-team {
            padding-left: 108px;
            padding-right: 108px;
            }

        .team-list {
            max-width: 584px;
            flex-wrap: wrap;
            flex-direction: row;
            gap: 72px 24px;
        }

        .portfolio {
        
            padding-top: 96px;
            padding-bottom: 96px;
        }

        .portfolio-item {
            width: calc((100% - 24px) / 2);
        }

        .hero-title {
            font-style: 56px;
        }

        .container-footer {
            flex-direction: row;
            flex-wrap: wrap;
            width: 584px;
        }
        .footer-form {
            flex-direction: row;
        }
        .div-container-footer {
            margin-right: 24px;
            align-items: start;
        }
        .box-footer-link {
            margin: 0;
            align-items: start;
        }
    
        .footer-form-container {
            margin: 0;
            align-items: start;
        }
        
                .paragraf-form {
                    text-align: left;
        
                }

        .footer-input {
            width: 264px;
        }
        
            .modal {
                    width: 408px;
                    padding: 72px 24px 24px 24px;
                }
        
        }

    
        @media screen and (min-width:1158px) {
            .container {
                max-width: 1158px;
                padding-left: 15px;
                padding-right: 15px;
            }

            .page-logo {
                margin-right: 76px;
            }
        .header-menu-address {
            flex-direction: row;
            gap: 40px;
        }

    .header-address-link {
            font-size: 16px;
            line-height: 1.5;
            letter-spacing: 0.02em;
            padding: 24px 0;
        }


    .hero {
        background-color: #2e2f42;
        background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
            url(../images/peopleoffice1.jpg);
    }

    @media screen and(-webkit-min-device-pixel-ratio: 2),
        (min-resolution: 2dppx),
        (min-resolution: 192dpi) {
    .hero {
        background-color: #2e2f42;
        background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
            url(../images/hero-desk-2x.jpg);
    }
}

.caracteristic {
    padding: 120px 0;
}

.caracteristic-text {
    font-weight: 400;
}

.caracteristic-item {
    width: calc((100% - 3 * 24px) / 4);

}



.caracteristic-subtitle {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
}

.item-benefits {
    display: flex;
    gap: 24px;
}

.caracretistic-icon {
    border: 1px solid #8e8f99;
    border-radius: 4px;
    width: 264px;
    height: 112px;
    background: #f4f4fd;

    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.team-list-list {

    gap: 24px;
}


.team {
    padding: 120px 0;
}

.team-list {
    display: flex;
    gap: 24px;
    flex-direction: row;
    flex-wrap: wrap;
}

.team-item-container {
    width: calc((100% - 72px) / 4);
}

.team-item-item {
    width: 40px;
    height: 40px;
}

.team-list {
    display: flex;
    max-width: 1158px;
}

.team-text {
    text-align: center;
    margin-bottom: 8px;
}

.portfolio {
    padding: 120px 0;
}

.portfolio-item {
    width: calc((100% - 48px) / 3);
}

.hero {
    max-width: 1440px;
    padding: 188px 0;
}

.hero-title {
    margin-bottom: 48px;
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07143;
    letter-spacing: 0.02em;
    text-align: center;
    color: #fff;
}

.footer {
    padding: 100px 0;
}

.container-footer {
    width: 1158px;
    flex-wrap: nowrap;
}

.div-container-footer {
    margin-right: 120px;
    padding: 0;
}

.box-footer-link {
    margin-right: 80px;
    padding: 0;
}

.footer-list {
    display: flex;
    gap: 16px;
    list-style: none;
    padding: 0;
    margin: 0;
}

.footer-form-container {
    margin: 0;
    align-items: start;
}

.modal {
    width: 408px;
    display: block;
}


.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}

}